.top_line_cls {
	width: 100%;
	height: 20%;
    margin: auto;
    //padding: 1px;
    text-align: center;
    //border: 1px solid red;
}

.controls_div_cls {
	width: 10%;
    height: 100%;
    float: left;
    //padding: 15px;
    border: 1px solid #73AD21;

}

.table_div_cls {
	width: 70%;
    height: 100%;
    overflow-y: auto;
    float: left;
    //padding: 15px;
    border: 1px solid #73AD21;
}

.inputs_cls {
	width: 10%;
    height: 100%;
    float: left;
    //padding: 15px;
     overflow-y: auto;
    border: 1px solid #73AD21;

}
.chart_area_cls {



   	width: 100%;
	height: auto;
    margin: auto;
    text-align: center;
    
}


.content_area_cls {
	margin: auto;
    width: 100%;
    height: auto;
    //border-radius: 25px;
    //padding: 10px;
    overflow-y: auto;
    border: 1px solid #73AD21;
    text-align: center;
}

